.pageCobranca__header h3 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-primaria-verde);
    margin-top: 53px;
}

.pageCobranca__header {
    width: 100%;
    border-bottom: 1px solid #acd9c5;
}

.pageCobranca__subHeader {
    margin-top: 30px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subHeaderCobranca__titles,
.subHeaderCobranca__interactions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.subHeaderCobranca__titles h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #3f3f55;
}

.subHeaderCobranca__interactions {
    position: relative;
}

.subHeaderCobranca__interactions button {
    all: unset;
    width: 267px;
    height: 33px;
    background: var(--cor-primaria-rosa);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #f8f8f9;
}

.subHeaderCobranca__interactions input {
    all: unset;
    width: 322px;
    height: 40px;
    padding-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    border-radius: 10px;
}

.subHeaderCobranca__iconSearch {
    position: absolute;
    right: 10px;
}

.PageCobranca__table {
  margin-top: 24px;
    padding: 12px 23px;
    width: 95%;
    background: #ffffff;
    border-radius: 30px;
}

.pageCobranca__tableHeader {
    border-bottom: 1px solid #eff0f6;
}

.pageCobranca__tableHeader,
.tableHeaderCobranca__container {
    display: flex;
    align-items: center;
}

.tableHeaderCobranca__container {
  cursor: pointer;
}

.pageCobranca__tableHeader h3 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.005em;
    color: #3f3f55;
    list-style-type: none;
    width: 113px;
}

#Column__dataDeVenc {
  width: 15%;
}

.tableCobranca__error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.tableCobranca__error img {
  width: 600px;
}
